<div layout="row" style="margin-top: 20px;" flex>
    <span flex="20"></span>
    <md-card flex="60">
        <form name="restoreForm" style="margin: 0 20px 0 20px;">
            <md-card-content>
                <h2 class="md-title">Востановление пароля</h2>
                <p ng-if="!restore.secretCode">Введите ваш адрес электронной почты. На него будет выслано письмо с данными для востановления пароля</p>
                <p ng-if="restore.secretCode && !restore.changePass">Введите полученый код</p>

                <md-input-container ng-if="!restore.secretCode">
                    <label>Email</label>
                    <input ng-model="restore.email" type="email" name="restoreForm.email" required>
                    <div ng-messages="getRestoreErr()">
                        <div ng-message="emailErr">
                            Пользователь с таким адресом электронной почты не найден. Возможно вам нужно
                            <a href="/registration">зарегистрироваться</a>.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container ng-if="restore.secretCode && !restore.changePass">
                    <label>Код подтверждения</label>
                    <input ng-model="restore.code" type="text" name="restoreForm.code" required>
                    <div ng-messages="getRestoreErr()">
                        <div ng-message="codeErr">
                            Введен неверный код.
                        </div>
                    </div>
                </md-input-container>

                <!-- Дбавить проверку на длину пароля -->
                <md-input-container ng-if="restore.changePass">
                    <label>Новый пароль:</label>
                    <input ng-model="restore.password" type="password" name="restoreForm.password" required>
                    <div ng-messages="getRestoreErr()">
                        <div ng-message="checkErr">
                            Пароли не совпадают.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container ng-if="restore.changePass">
                    <label>Повторите пароль:</label>
                    <input ng-model="restore.passwordCheck" type="password" name="restoreForm.passwordCheck" required>
                    <div ng-messages="getRestoreErr()">
                        <div ng-message="checkErr">
                            Пароли не совпадают.
                        </div>
                    </div>
                </md-input-container>
            </md-card-content>

            <div class="md-actions" layout="row" layout-align="end center" ng-if="!restore.secretCode">
                <md-button class="md-primary" ng-click="send(restore.email)">Подтвердить</md-button>
                <md-button ng-click="goToMain()">Отмена</md-button>
            </div>
            <div class="md-actions" layout="row" layout-align="end center"
                 ng-if="restore.secretCode && !restore.changePass">
                <md-button class="md-primary" ng-click="done()">Подтвердить</md-button>
                <md-button ng-click="goToMain()">Отмена</md-button>
            </div>
            <div class="md-actions" layout="row" layout-align="end center" ng-if="restore.changePass">
                <md-button class="md-primary"
                           ng-click="changePassword(restore.password, restore.passwordCheck)">
                    Подтвердить
                </md-button>
                <md-button ng-click="goToMain()">Отмена</md-button>
            </div>
        </form>
    </md-card>
    <span flex="20"></span>
</div>