<div layout="row" layout-fill>
    <div class="one-task-sidenav md-whiteframe-z1" layout="column" flex="25">
        <div class="background" flex="25"></div>
        <div class="author-container">
            <div class="author-avatar-container">
                <a ng-href="/users/{{author.id}}">
                    <img ng-if="author.avatar" alt="{{author.nick}}" class="author-avatar" ng-src="/avatars/{{author.avatar}}"
                         ng-class="{admin: author.role !== 'пользователь'}">
                    <i class="mdi mdi-account-circle mdi-48" ng-if="!author.avatar"></i>
                </a>
            </div>
            <div class="author-name-container">
                <a class="author-name" ng-href="/users/{{author.id}}">
                    {{author.name}}
                </a>
            </div>
        </div>
        <div class="one-task-sidenav-content-conteiner thin-scroll" layout="column" flex>
            <div class="one-task-sidenav-content">
                <div class="one-task-sidenav-text" layout="column">
                    <h2>{{currentTask.title}}</h2>
                    <h4>exp: {{currentTask.exp}}</h4>
                    <a ng-repeat="link in currentTask.links" ng-href="{{link}}">{{link}}</a>
                    <h6>
                        <span>
                            {{currentTask.solved_count_correct || 0}} {{getEndingVariant(currentTask.solved_count_correct, solvedTextVariants)}} -
                        </span>
                        <span>{{currentTask.participants || 0}} {{getEndingVariant(currentTask.participants, solvingTextVariants)}} -</span>
                        <span ng-if="currentTask.is_approved">подтверждено</span>
                        <span ng-if="!currentTask.is_approved">не подтверждено</span>
                    </h6>
                </div>

                <div class="one-task-skills">
                    <skup-skill-button ng-repeat="skill in currentTask.skills" id="skill.skill_id" type="skill" count="skill.count">
                    </skup-skill-button>
                </div>
            </div>
        </div>

        <div class="one-task-sidenav-action" layout="row" layout-align="end center">
            <skup-like-button type="task" id="currentTask.id" likes="currentTask.likes"
                         liked="currentTask.liked"></skup-like-button>
            <skup-receive-button id="currentTask.id" count="currentTask.participants"
                            received="currentTask.received" callback=""></skup-receive-button>
        </div>
    </div>

    <div layout="column" flex>
        <div layout="row">
            <div flex="5"></div>
            <div layout="column" flex>
                <md-card class="one-task-frames" flex>
                    <md-card-header layout="row" layout-align="space-between center">
                        <md-card-header-text>
                            <span>Описание</span>
                        </md-card-header-text>
                        <md-button class="md-icon-button one-task-frames-action" aria-label="description-toolbar-menu">
                            <i class="mdi mdi-dots-vertical mdi-24"></i>
                        </md-button>
                    </md-card-header>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{currentTask.title}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout-padding>
                        <p>
                            {{currentTask.description}}
                        </p>
                    </md-card-content>
                    <md-card-actions class="one-task-card-action">
                        <skup-comments id-src="currentTask.id"></skup-comments>
                    </md-card-actions>
                </md-card>

                <md-card class="one-task-frames" flex ng-if="currentTask.is_approved">
                    <md-card-header layout="row" layout-align="space-between center">
                        <md-card-header-text>
                            <span>Решение</span>
                        </md-card-header-text>
                        <div layout="row">
                            <a href="https://guides.github.com/features/mastering-markdown" class="markdown-support one-task-frames-action"
                               layout="row" layout-align="center center">
                                <i class="mdi mdi-markdown mdi-24" style="margin-right: 5px;"></i>
                                <span>Поддерживается синтаксис Markdown</span>
                            </a>
                            <md-button class="md-icon-button one-task-frames-action" ng-click="solution.showPreview()"
                                       aria-label="description-toolbar-menu">
                                <i class="mdi mdi-eye mdi-24" ng-if="!solution.preview"></i>
                                <md-tooltip ng-if="!solution.preview">Предпросмотр</md-tooltip>
                                <i class="mdi mdi-pencil mdi-24" ng-if="solution.preview"></i>
                                <md-tooltip ng-if="solution.preview">Редактор</md-tooltip>
                            </md-button>
                        </div>
                    </md-card-header>
                    <md-card-content style="min-height: 74px;" layout-padding>
                        <form name="solutionForm" ng-if="!solution.preview">
                            <md-input-container layout-fill>
                                <label>Ваше решение</label>
                                <textarea ng-model="solution.text" name="solutionT" required></textarea>

                                <div ng-messages="solutionForm.solutionT.$error">
                                    <div ng-message="required">Обязательное поле</div>
                                </div>
                            </md-input-container>
                        </form>

                        <div ng-if="solution.preview" marked="solution.text || '#### *Вы ничего не ввели*'"></div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button one-task-frames-action" ng-click="solution.addFiles()">
                            <i class="mdi mdi-file mdi-24"></i>
                            <md-tooltip>Приложить файл к решению</md-tooltip>
                        </md-button>
                        <md-button class="md-raised md-primary" ng-click="solution.sendSolution(currentTask.id, solution.text)">Отправить</md-button>
                    </md-card-actions>
                </md-card>
            </div>

            <div flex="15"></div>
        </div>
    </div>
</div>