<md-dialog class="notifications" layout="column">
    <div class="notifications-header md-whiteframe-1dp" layout="row" layout-align="center center">
        <md-button class="md-icon-button settings-button mdi-hint" ng-click="" aria-label="settings-btn">
            <md-tooltip>Настройки</md-tooltip>
            <i class="mdi mdi-settings mdi-24"></i>
        </md-button>
        <div class="notifications-title" layout="row" layout-align="center center" flex>Уведомления</div>
    </div>
    <div class="notifications-body thin-scroll" layout="column" flex
         skup-on-scroll-bottom="{event: 'newNotificationsScrolled', percent: 95}">
        <skup-notification ng-repeat="ntf in newNotifications" notification="ntf"></skup-notification>
        <div class="notifications-end" layout="row" layout-align="center center" ng-if="scrollLoaderNew.endOfData">
            Больше нет уведомлений
        </div>
    </div>
    <div class="notifications-footer" layout="row" layout-align="center center" ng-click="viewRead = !viewRead"
         ng-class="{'visible': viewRead}">
        Просмотренные
    </div>
    <div class="notifications-read thin-scroll" ng-class="{'visible': viewRead}"
         skup-on-scroll-bottom="{event: 'readNotificationsScrolled', percent: 95}">
        <skup-notification ng-repeat="ntf in readNotifications" notification="ntf"></skup-notification>
        <div class="notifications-end" layout="row" layout-align="center center" ng-if="scrollLoaderRead.endOfData">
            Больше нет уведомлений
        </div>
    </div>
</md-dialog>